@model List<BitFit.Models.Recipe>

@{
    ViewData["Title"] = "Recipe";
}
<h3>


    <form method="post" asp-controller="Recipe" asp-action="NewSearch">
        <label for="SearchBar" class="mb-5 mt-5">
            Search recipe by name:
        </label>
        <input id="SearchBar" name="SearchBar" type="text" class="form-control" />
        <input type="submit" hidden />
    </form>

</h3>


<div class="card">
@foreach (var item in Model)
             {
                 <div class="card-header">@item.Title</div>
                 <div class="card-body">
                     <ul>
                         <li style="font-size: 12px">@item.Ingredients</li>
                         <li style="font-size: 12px">@item.Servings</li>
                         <li style="font-size: 12px">@item.Instructions</li>
                     </ul>
                 </div>
             }
</div>